bin/Debug/netstandard2.0/TECHCOOL.deps.json
bin/Debug/netstandard2.0/TECHCOOL.dll
bin/Debug/netstandard2.0/TECHCOOL.pdb
obj/project.assets.json
obj/TECHCOOL.csproj.nuget.cache
obj/TECHCOOL.csproj.nuget.dgspec.json
obj/TECHCOOL.csproj.nuget.g.props
obj/TECHCOOL.csproj.nuget.g.targets
obj/Debug/netstandard2.0/TECHCOOL.AssemblyInfo.cs
obj/Debug/netstandard2.0/TECHCOOL.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/TECHCOOL.assets.cache
obj/Debug/netstandard2.0/TECHCOOL.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/TECHCOOL.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/TECHCOOL.dll
obj/Debug/netstandard2.0/TECHCOOL.pdb
