bin/Debug/netstandard2.0/TECHCOOL.deps.json
bin/Debug/netstandard2.0/TECHCOOL.dll
bin/Debug/netstandard2.0/TECHCOOL.pdb
obj/project.assets.json
obj/TECHCOOL.csproj.nuget.cache
obj/TECHCOOL.csproj.nuget.dgspec.json
obj/TECHCOOL.csproj.nuget.g.props
obj/TECHCOOL.csproj.nuget.g.targets
obj/Debug/netstandard2.0/TECHCOOL.AssemblyInfo.cs
obj/Debug/netstandard2.0/TECHCOOL.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/TECHCOOL.assets.cache
obj/Debug/netstandard2.0/TECHCOOL.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/TECHCOOL.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/TECHCOOL.dll
obj/Debug/netstandard2.0/TECHCOOL.pdb
bin/Debug/netcoreapp3.1/TECHCOOL.deps.json
bin/Debug/netcoreapp3.1/TECHCOOL.dll
bin/Debug/netcoreapp3.1/TECHCOOL.pdb
obj/Debug/netcoreapp3.1/TECHCOOL.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/TECHCOOL.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/TECHCOOL.assets.cache
obj/Debug/netcoreapp3.1/TECHCOOL.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/TECHCOOL.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/TECHCOOL.dll
obj/Debug/netcoreapp3.1/TECHCOOL.pdb
obj/Debug/netcoreapp3.1/TECHCOOL.exe
obj/Debug/netcoreapp3.1/TECHCOOL.csproj.CopyComplete
bin/Debug/netcoreapp3.1/TECHCOOL.runtimeconfig.json
bin/Debug/netcoreapp3.1/TECHCOOL.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/TECHCOOL.exe
bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
.vscode/tasks.json
.vscode/launch.json
bin/Debug/netcoreapp3.1/publish/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/publish/Microsoft.Data.Sqlite.dll
bin/Debug/netcoreapp3.1/publish/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/publish/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/publish/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/publish/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/publish/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/publish/Microsoft.Win32.SystemEvents.dll
bin/Debug/netcoreapp3.1/publish/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/publish/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/publish/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/publish/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/publish/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/publish/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/publish/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/publish/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/publish/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/netcoreapp3.1/publish/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/publish/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/publish/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/publish/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/publish/runtimes/win-x86/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/publish/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/publish/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/publish/SQLitePCLRaw.batteries_v2.dll
bin/Debug/netcoreapp3.1/publish/SQLitePCLRaw.core.dll
bin/Debug/netcoreapp3.1/publish/SQLitePCLRaw.nativelibrary.dll
bin/Debug/netcoreapp3.1/publish/SQLitePCLRaw.provider.dynamic_cdecl.dll
bin/Debug/netcoreapp3.1/publish/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/publish/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/publish/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/publish/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/publish/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/publish/System.Security.Permissions.dll
bin/Debug/netcoreapp3.1/publish/System.Windows.Extensions.dll
bin/Debug/netcoreapp3.1/publish/TECHCOOL.deps.json
bin/Debug/netcoreapp3.1/publish/TECHCOOL.dll
bin/Debug/netcoreapp3.1/publish/TECHCOOL.pdb
*.nuspec
*.nupkg
